* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--primary-color);
    color: var(--dark-blue);
    overflow: hidden;
    overflow-y: scroll;
}