#skills {
    background-color: var(--secondary-color);
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 100vh;
}

#skills>.container {
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 65rem;
}


.skill-title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;
}

.skill-desc {
    height: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.skill-bars {
    width: 100vw;
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}


.skill-bars-other {
    width: 100vw;
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    max-height: 40rem;
    opacity: 1;
    transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.skill-bars-other.closed {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.show-more {
    display: none;
    margin: 1rem;
    background-color: var(--accent-color);
    color: var(--dark-blue);
    font-size: medium;
    font-weight: 400;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    padding: 0.75rem 5rem;
    cursor: pointer;
}

.container>.show-more:hover {
    background-color: var(--accent-color-pressed);
}

@media screen and (max-width:720px) {
    .show-more {
        display: block;
    }
}