#wrapper {
    position: relative;
    background-color: var(--primary-color);
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
}

.lines {
    position: absolute;
    top: 81.5px;
    margin: auto;
    width: 100%;
}

.flower-main {
    position: absolute;
    top: 500px;
    left: 563px;
}

.flower-1 {
    position: absolute;
    top: 187px;
    left: 214px;
}

.flower-2 {
    position: absolute;
    top: 617px;
    left: 1105px;
}

.flower-3 {
    position: absolute;
    top: 815px;
    left: 960px;
}

.flower-4 {
    position: absolute;
    top: 116px;
    left: 519px;
}

.flower-5 {
    position: absolute;
    top: 678px;
    left: 325px;
}

.flower-6 {
    position: absolute;
    top: 267px;
    left: 876px;
}

.small-circles {
    position: absolute;
    top: 48px;
    left: 259px;
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7,
.line8,
.line9 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
}

.small-circles {
    opacity: 0;
    animation: fadeIn 0.5s 3s ease-in-out forwards;
}

#flower-1 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s 0.3s linear forwards;
}

#flower-2 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s 0.3s linear forwards;
}

#flower-3 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s 0.3s linear forwards;
}

#flower-4 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s 0.3s linear forwards;
}

#flower-5 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s 0.3s linear forwards;
}

#flower-6 {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s 0.3s linear forwards;
}

#flower-main {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 3s 0.3s linear forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 2000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {

    .lines,
    .small-circles,
    .flower-3,
    .flower-6 {
        display: none;
    }

    .flower-1 {
        position: relative;
        top: -70px;
        left: -70px;
    }

    .flower-2 {
        position: relative;
        top: 730px;
        left: -280px;
    }

    .flower-4 {
        position: relative;
        top: 48px;
        left: -620px;
    }


    .flower-5 {
        position: relative;
        top: 550px;
        left: -720px;
    }

    .flower-main {
        position: relative;
        top: 350px;
        left: 120px;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }
}