#works {
    margin: 0 auto;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#works>.title {
    margin: 1rem 0;
    font-size: 3rem;
}

#works>.description {
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 2rem;
}

#works>.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 85rem;
}

#works>.images>img {
    object-fit: contain;
    height: 12rem;
    width: 12rem;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    transition: padding 0.3s;
}

#works>.images>img:hover {
    padding: 0.35rem;
    transition: padding 0.3s;
}

@media screen and (max-width:585px) {
    #works>img {
        height: 50vh;
    }
}

@media screen and (max-width:450px) {
    #works>.images>img {
        height: 8rem;
        width: 8rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }
}