* {
    --primary-color: #A1CCD1;
    --secondary-color: #F4F2DE;
    --tertiary-color: #7C9D96;
    --accent-color: #E9B384;
    --neutral-background-color: #ECECEC;
    --dark-blue: #1E325C;
    --dark-green: #006400;

    --accent-color-pressed: #eaa971;
    ;
}